In [61]:
import os, re
import pandas as pd

### 1. Data import, extract data necessary cells, and rename columns

In [54]:
# S4 was extracted beforehand to a single file
df = pd.read_excel('./SourceData/Papers/Korfali2012/2012NUCLEUS0047R-SupTables_S4.xlsx')

In [55]:
# prepare column names
columns = df.iloc[1,[0,1,2,3,17,18]]
columns

Table S4. Summary of NETs directly analyzed                  tissue
Unnamed: 1                                                gene name
Unnamed: 2                                          alternate names
Unnamed: 3                                        accession numbers
Unnamed: 17                                    NE:MM ratio by dNSAF
Unnamed: 18                                               reference
Name: 1, dtype: object

In [56]:
# df.head()
# df.tail(n=30)

In [57]:
# Extract necessary cells
df = df.iloc[2:136,[0,1,2,3,17,18]]
# df.head()
# df.tail()

In [58]:
# rename the columns
df.columns = columns
# df.head()

In [40]:
df.tail()

1,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference
131,NaN,UNC84B,"SUN2, unc-84 homolog B",gi|109482575|ref|XP_001076724.1|;gi|34996501|r...,74.71,"Hodzic, D.M., et al. (2004) J. Biol. Chem. 279..."
132,NaN,SYNE1,"syne-1, nesprin 1 isoform longer, C6orf98",gi|119120865|ref|NP_001073154.1|;gi|23097308|r...,INF,"Apel, E.D., et al. (2000) J. Biol. Chem. 275, ..."
133,NaN,SYNE2,"syne-2, spectrin repeat containing, nuclear en...",gi|33624848|ref|NP_055995.3|;gi|109479539|ref|...,INF,"Zhang, Q., et al. (2001) J. Cell Sci. 114, 44..."
134,NaN,POM121C,"POM121, nuclear pore membrane protein 121",gi|26051278|ref|NP_742017.1|;gi|16758424|ref|N...,INF,"Soderqvist, H., et al. (1997) Eur. J. Biochem...."
135,NaN,NUP210,"gp210, nucleoporin 210",gi|16758020|ref|NP_445774.1|;gi|9055314|ref|NP...,INF,"Gerace, L., et al. (1982) J. Cell Biol. 95, 82..."

In [59]:
# Fill in tissue data
df['tissue'] = df['tissue'].fillna(method='ffill')
df = df.dropna(axis=0)

In [60]:
df.head()
# df.tail()

1,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference
3,liver enriched,TMEM53,"NET4, transmembrane protein 53",ref|NP_081113.1|,2.57,"This study and Schirmer, E.C., et al. (2003). ..."
4,liver enriched,TMEM120A,"NET29, transmembrane protein induced by tumor ...",ref|NP_766129.1|,INF,"This study and Malik, P., et al. (2010) Cell M..."
5,liver enriched,SCARA5,"NET33, PREDICTED: similar to protease, serine,...",gi|109502608|ref|XP_001066668.1|,0.1,"This study and Malik, P., et al. (2010) Cell M..."
6,liver enriched,TMEM74,"NET36, PREDICTED: hypothetical protein [Rattus...",ref|XP_001063530.1|,3.36,"This study and Malik, P., et al. (2010) Cell M..."
7,liver enriched,PPAPDC3,"NET39, phosphatidic acid phosphatase type 2 do...",gi|59891419|ref|NP_001012349.1|;gi|34147436|re...,4.42,"This study and Schirmer, E.C., et al. (2003). ..."

### 2. Link the NCBI accession numbers to Uniprot ID

In [70]:
gene_name_list = len(df['gene name'].unique())

In [ ]:
gene =

In [62]:
regex = re.compile(r'(ref\|)(NP_\d+|XP_\d+)')

In [65]:
ncbi_id =df.loc[3,'accession numbers']
ncbi_id

'ref|NP_081113.1|'

In [68]:
group = regex.findall(ncbi_id)
group[0][1]

'NP_081113'