## Korali et al. 2012
### Rat liver and leukocytes and human muscle cells

In [1]:
import os, re, openpyxl
import pandas as pd
from time import sleep
from bioservices import UniProt

In [2]:
u = UniProt()

In [3]:
organism_ids = {
                'Human': '9606', 
                'Mouse': '10090', 
                'Rat': '10116', 
                'Cattle': '9913',
                'Chicken': '9031', 
                'Frog': '8355', 
                'Zebrafish': '7955',
                'Fly': '7227',
                'Worm': '6239'
                }

### 1. Data import, extract data necessary cells, and rename columns

In [4]:
# S4 was extracted beforehand to a single file because the whole xlsx is extremely heavy
df = pd.read_excel('./SourceData/Papers/Korfali2012/2012NUCLEUS0047R-SupTables_S4.xlsx')

In [5]:
# prepare column names
columns = df.iloc[1,[0,1,2,3,17,18]]
columns

Table S4. Summary of NETs directly analyzed                  tissue
Unnamed: 1                                                gene name
Unnamed: 2                                          alternate names
Unnamed: 3                                        accession numbers
Unnamed: 17                                    NE:MM ratio by dNSAF
Unnamed: 18                                               reference
Name: 1, dtype: object

In [6]:
# df.head()
# df.tail(n=30)

In [7]:
# Extract necessary cells
df = df.iloc[2:136,[0,1,2,3,17,18]]
# df.head()
# df.tail()

In [8]:
# rename the columns
df.columns = columns
# df.head()

In [9]:
df.tail()

1,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference
131,NaN,UNC84B,"SUN2, unc-84 homolog B",gi|109482575|ref|XP_001076724.1|;gi|34996501|r...,74.71,"Hodzic, D.M., et al. (2004) J. Biol. Chem. 279..."
132,NaN,SYNE1,"syne-1, nesprin 1 isoform longer, C6orf98",gi|119120865|ref|NP_001073154.1|;gi|23097308|r...,INF,"Apel, E.D., et al. (2000) J. Biol. Chem. 275, ..."
133,NaN,SYNE2,"syne-2, spectrin repeat containing, nuclear en...",gi|33624848|ref|NP_055995.3|;gi|109479539|ref|...,INF,"Zhang, Q., et al. (2001) J. Cell Sci. 114, 44..."
134,NaN,POM121C,"POM121, nuclear pore membrane protein 121",gi|26051278|ref|NP_742017.1|;gi|16758424|ref|N...,INF,"Soderqvist, H., et al. (1997) Eur. J. Biochem...."
135,NaN,NUP210,"gp210, nucleoporin 210",gi|16758020|ref|NP_445774.1|;gi|9055314|ref|NP...,INF,"Gerace, L., et al. (1982) J. Cell Biol. 95, 82..."

In [10]:
# Fill in tissue data
df['tissue'] = df['tissue'].fillna(method='ffill')
df = df.dropna(axis=0)

In [11]:
# df.head()
df.tail()

1,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference
131,Original NETs (pre-MudPIT proteomics),UNC84B,"SUN2, unc-84 homolog B",gi|109482575|ref|XP_001076724.1|;gi|34996501|r...,74.71,"Hodzic, D.M., et al. (2004) J. Biol. Chem. 279..."
132,Original NETs (pre-MudPIT proteomics),SYNE1,"syne-1, nesprin 1 isoform longer, C6orf98",gi|119120865|ref|NP_001073154.1|;gi|23097308|r...,INF,"Apel, E.D., et al. (2000) J. Biol. Chem. 275, ..."
133,Original NETs (pre-MudPIT proteomics),SYNE2,"syne-2, spectrin repeat containing, nuclear en...",gi|33624848|ref|NP_055995.3|;gi|109479539|ref|...,INF,"Zhang, Q., et al. (2001) J. Cell Sci. 114, 44..."
134,Original NETs (pre-MudPIT proteomics),POM121C,"POM121, nuclear pore membrane protein 121",gi|26051278|ref|NP_742017.1|;gi|16758424|ref|N...,INF,"Soderqvist, H., et al. (1997) Eur. J. Biochem...."
135,Original NETs (pre-MudPIT proteomics),NUP210,"gp210, nucleoporin 210",gi|16758020|ref|NP_445774.1|;gi|9055314|ref|NP...,INF,"Gerace, L., et al. (1982) J. Cell Biol. 95, 82..."

#### How many genes?

In [12]:
len(list(df['gene name'].unique()))

119

#### Do proteins in 'Original NETs' have Nucleus locacalization in Uniprot?

In [12]:
original_NETs = df[df['tissue']=='Original NETs (pre-MudPIT proteomics)']['gene name']
original_NETs = list(original_NETs)
original_NETs

['TMEM43',
 'LBR',
 'TOR1AIP1',
 'TMPO',
 'EMD',
 'NRM',
 'LEMD3',
 'UNC84A',
 'UNC84B',
 'SYNE1',
 'SYNE2',
 'POM121C',
 'NUP210']

#### Do not rerun the below w/o obvious necessity

In [45]:
# for protein in original_NETs:
#     res = u.search(protein+'+AND+organism:' + organism_ids['Human'], 
#          frmt='tab', columns='comment(SUBCELLULAR LOCATION)', limit=1)
#     print(res)

Subcellular location [CC]
SUBCELLULAR LOCATION: Endoplasmic reticulum membrane {ECO:0000269|PubMed:32614325}. Nucleus inner membrane; Multi-pass membrane protein. Note=Retained in the inner nuclear membrane through interaction with EMD and A- and B-lamins. The N- and C-termini are oriented towards the nucleoplasm. The majority of the hydrophilic domain resides in the endoplasmic reticulum lumen (By similarity). {ECO:0000250}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:8157662}; Multi-pass membrane protein {ECO:0000255}. Endoplasmic reticulum membrane {ECO:0000269|PubMed:21327084}. Cytoplasm {ECO:0000269|PubMed:21327084}. Nucleus {ECO:0000269|PubMed:21327084}. Note=Nucleus; nuclear rim. {ECO:0000269|PubMed:21327084}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:12061773, ECO:0000269|PubMed:24275647}; Single-pass membrane protein {ECO:0000269|PubMed:12061773, ECO:0000269|PubMed:24275647}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus. Chromosome. Note=Expressed diffusely throughout the nucleus.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:19167377}; Single-pass membrane protein; Nucleoplasmic side {ECO:0000269|PubMed:19167377}. Nucleus outer membrane. Note=Colocalized with BANF1 at the central region of the assembling nuclear rim, near spindle-attachment sites. The accumulation of different intermediates of prelamin-A/C (non-farnesylated or carboxymethylated farnesylated prelamin-A/C) in fibroblasts modify its localization in the nucleus.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:10402458, ECO:0000269|PubMed:15542857, ECO:0000269|PubMed:23092226}; Multi-pass membrane protein {ECO:0000269|PubMed:10402458, ECO:0000269|PubMed:15542857, ECO:0000269|PubMed:23092226}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:15647271}; Multi-pass membrane protein {ECO:0000269|PubMed:15647271}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:12958361, ECO:0000269|PubMed:16445915, ECO:0000269|PubMed:17132086, ECO:0000269|PubMed:18845190, ECO:0000269|PubMed:19933576}; Single-pass type II membrane protein {ECO:0000269|PubMed:12958361, ECO:0000269|PubMed:16445915, ECO:0000269|PubMed:17132086, ECO:0000269|PubMed:18845190, ECO:0000269|PubMed:19933576}. Note=At oocyte MI stage localized around the spindle, at MII stage localized to the spindle poles. {ECO:0000250|UniProtKB:Q9D666}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus inner membrane {ECO:0000269|PubMed:15082709}; Single-pass type II membrane protein {ECO:0000269|PubMed:15082709}. Nucleus envelope {ECO:0000269|PubMed:15082709, ECO:0000269|PubMed:17132086, ECO:0000269|PubMed:17724119}. Endosome membrane {ECO:0000269|PubMed:10818110}; Single-pass type II membrane protein {ECO:0000305}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus outer membrane {ECO:0000305}; Single-pass type IV membrane protein {ECO:0000305}; Cytoplasmic side {ECO:0000305}. Nucleus. Nucleus envelope. Cytoplasm, cytoskeleton. Cytoplasm, myofibril, sarcomere. Note=The largest part of the protein is cytoplasmic, while its C-terminal part is associated with the nuclear envelope, most probably the outer nuclear membrane. In skeletal and smooth muscles, a significant amount is found in the sarcomeres. In myoblasts, relocalized from the nuclear envelope to the nucleus and cytoplasm during cell differentiation.; SUBCELLULAR LOCATION: [Isoform GSRP-56]: Golgi apparatus {ECO:0000269|PubMed:16875688}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus outer membrane {ECO:0000305}; Single-pass type IV membrane protein {ECO:0000305}; Cytoplasmic side {ECO:0000305}. Sarcoplasmic reticulum membrane {ECO:0000305|PubMed:15671068}; Single-pass type IV membrane protein {ECO:0000305}. Cell membrane {ECO:0000305}; Single-pass membrane protein {ECO:0000305}. Cytoplasm, cytoskeleton. Mitochondrion. Nucleus, nucleoplasm. Cytoplasm, myofibril, sarcomere, Z line {ECO:0000305|PubMed:15671068}. Note=Different isoform patterns are found in the different compartments of the cell. The isoforms having the C-terminal transmembrane span can be found in several organellar membranes like the nuclear envelope, the sarcoplasmic reticulum of myoblasts, or the lamellipodia and focal adhesions at the cell membrane. The largest part of the outer nuclear membrane-associated protein is cytoplasmic, while its C-terminal part is associated with the nuclear envelope, most probably the outer nuclear membrane. Remains associated with the nuclear envelope during its breakdown in mitotic cells. Shorter soluble isoforms can be found in the cytoplasm and within the nucleus.; SUBCELLULAR LOCATION: [Isoform 8]: Cell junction, focal adhesion {ECO:0000269|PubMed:22768332}. Note=In U2OS cells. {ECO:0000269|PubMed:22768332}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus, nuclear pore complex {ECO:0000269|PubMed:17900573}. Nucleus membrane {ECO:0000269|PubMed:17900573}; Single-pass membrane protein {ECO:0000269|PubMed:17900573}. Endoplasmic reticulum membrane {ECO:0000250}; Single-pass membrane protein {ECO:0000250}. Note=Stably associated with the NPC throughout interphase and the endoplasmic reticulum during metaphase. {ECO:0000250}.

Subcellular location [CC]
SUBCELLULAR LOCATION: Nucleus, nuclear pore complex {ECO:0000269|PubMed:2195063}. Nucleus membrane {ECO:0000269|PubMed:2195063}; Single-pass type I membrane protein {ECO:0000269|PubMed:2195063}. Endoplasmic reticulum membrane {ECO:0000269|PubMed:2195063}; Single-pass type I membrane protein {ECO:0000269|PubMed:2195063}.

#### Thus only TMEM43 is considered an ER protein, and others are all nucleus

#### Let's keep them

### 2. Link the NCBI accession numbers to Uniprot ID

#### Firstly get IDs in human

#### Realized that the gene #18 contains two names and only the latter VMA21 is needed
#### thus manually replace the name

In [13]:
df.iloc[18, 1] = 'VMA21'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 3 to 135
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tissue                119 non-null    object
 1   gene name             119 non-null    object
 2   alternate names       119 non-null    object
 3   accession numbers     119 non-null    object
 4   NE:MM ratio by dNSAF  119 non-null    object
 5   reference             119 non-null    object
dtypes: object(6)
memory usage: 6.5+ KB

#### Retrieve Uniprot ID of human genes by using uniprot module

In [27]:
# regex = re.compile(r'(\n)(\w+|\d+)(\n)')
# gene_name_list = list(df['gene name'].unique())
# uniprot_id_list_human = []
# for gene in gene_name_list:
#     res = u.search(gene + '+AND+organism:' + organism_ids['Human'], 
#          frmt='tab', columns='id', limit=1)
#     mo = regex.search(res)
#     if mo is not None:
#         uniprot_id = mo.group(2)
#     else:
#         uniprot_id = 'Not_found'

#     uniprot_id_list_human.append(uniprot_id)
#     print(gene, uniprot_id)
    
#     sleep(5)

TMEM53 Q6P2H8
TMEM120A Q9BXJ8
SCARA5 Q6ZMJ2
TMEM74 Q96NL1
PPAPDC3 Q8NBV4
EGFR P00533
SLC39A14 Q15043
SCCPDH Q8NBX0
WDR33 Q9C0J8
TMEM209 Q96SK2
KIAA1967 Q8N163
TM7SF2 O76062
APH1B Q8WW43
MCAT Q8IVS2
‡SLC22A24 Q8N4F4
TMEM38A Q9H6F2
WFS1 O76024
POPDC2 Q9HBU9
VMA21 Q3ZAQ7
KLHL31 Q9H511
CGRRF1 Q99675
SAMD8 Q96LT4
ATP1B4 Q9UN42
DNAJC16 Q9Y2G8
TMEM57 Q8N5G2
DTNA Q9Y4J8
ATP1B1 P05026
RYR1 P21817
HVCN1 Q96D96
TMEM63A O94886
C9orf46 Q9HBL7
SLC38A10  Q9HBR0
TMEM160 Q9NX00
C18orf19 Q96ND0
CNNM4 Q6P4Q7
MS4A1 P11836
LRRC8A Q8IWT6
FAM3C Q92520
ABCB1 P08183
SLC9A1 P19634
ITPR2 Q14571
TMEM173 Q86WV6
TMEM126A Q9H061
FAM62A Q9BSJ8
C17orf62 Q9BQA9
C20orf30 Q96A57
SEC11C Q9BY50
MARCHV Not_found
FAM105A Q9NUU6
DHRS7 Q9Y394
SLC25A22 Q9H936
DAK Q3LXA3
NCLN Q969V3
SQSTM1 Q13501
IAG2 Q9H0U3
TAPBPL Q9BX59
TMUB1 Q9BVT8
AYTL1 Q7L5N7
C20orf3 Q9HDC9
C17orf32 Q8N511
C14orf1 Q9UKR5
TOR1AIP2 Q8NFQ8
ALG2 Q9H553
KIAA1161 Q6NSJ0
TMTC3 Q6ZXV5
LRRC37A A6NMS7
MOSPD3 O75425
ALG10B Q5I7T1
CRELD1 Q96HD1
TMEM161A Q9NX61
TMEM70 Q9BUB7
CKAP4 Q07065
OSTC Q9NRP0
TXNDC13 Q9H1E5
TMEM41A Q96HV5
KTN1 Q86UP2
TMEM109 Q9BVC6
SMPD4 Q9NXE4
TXNDC10 Q96JJ7
CLPTM1 O96005
CISD2 Q8N5K1
MBOAT5 Q6P1A2
CTAGE5 Q96PC5
TMEM66 Q96BY9
C14orf101 Q9NX78
TMEM194 O14524
ARL6IP6 Q8N6S5
C9ORF5 Q9H330
RHBDD1 Q8TEB9
AADACL1 Q6PIU2
METTL7A Q9H8H3
C8orf55 Q8WUY1
LPGAT1 Q92604
ERLIN2 O94905
ERMP1 Q7Z2K6
ATG9A Q7Z3C6
ERGIC1 Q969X5
ATLA3 Q6DD88
STT3A P46977
TMEM201 Q5SNT2
TMEM214 Q6NUQ4
TMEM48 Q9BTX1
LEMD2 Q8NC56
TMEM14C Q9P0S9
C14orf49 Q6ZMZ3
DULLARD O95476
TMEM43 Q9BTV4
LBR Q14739
TOR1AIP1 Q5JTV8
TMPO P42166
EMD P50402
NRM Q8IXM6
LEMD3 Q9Y2U8
UNC84A O94901
UNC84B Q9UH99
SYNE1 Q8NF91
SYNE2 Q8WXH0
POM121C A8CG34
NUP210 Q8TEM1

In [28]:
_df = pd.DataFrame()
_df['gene name'] = gene_name_list
_df['Uniprot_id'] = uniprot_id_list_human

#### Realized that the only gene with ID not found, MARCHV, is actually MARCH5
#### this gene has a entry on uniprot and its ID was found
#### Thus replaced

In [31]:
_df[_df['Uniprot_id'] == 'Not_found'].index

Int64Index([47], dtype='int64')

In [33]:
_df.loc[47, 'Uniprot_id']

'Not_found'

In [34]:
_df.loc[47, 'Uniprot_id'] = 'Q9NX47'

In [35]:
_df.loc[47, 'Uniprot_id']

'Q9NX47'

#### Merge of main df with _df

In [36]:
df_output_hs = df.merge(_df, how='outer', on='gene name')

In [37]:
df_output_hs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 118
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tissue                119 non-null    object
 1   gene name             119 non-null    object
 2   alternate names       119 non-null    object
 3   accession numbers     119 non-null    object
 4   NE:MM ratio by dNSAF  119 non-null    object
 5   reference             119 non-null    object
 6   Uniprot_id            119 non-null    object
dtypes: object(7)
memory usage: 7.4+ KB

In [38]:
df_output_hs.to_csv('./Output/Korfali2012_Hs.csv')

### 3. Get IDs in other species

In [5]:
df_new = pd.read_csv('./Output/Korfali2012_Hs.csv')
df_new = df_new.drop(['Unnamed: 0'], axis=1)

In [6]:
df_new.head()

,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference,Uniprot_id
0,liver enriched,TMEM53,"NET4, transmembrane protein 53",ref|NP_081113.1|,2.57,"This study and Schirmer, E.C., et al. (2003). ...",Q6P2H8
1,liver enriched,TMEM120A,"NET29, transmembrane protein induced by tumor ...",ref|NP_766129.1|,INF,"This study and Malik, P., et al. (2010) Cell M...",Q9BXJ8
2,liver enriched,SCARA5,"NET33, PREDICTED: similar to protease, serine,...",gi|109502608|ref|XP_001066668.1|,0.1,"This study and Malik, P., et al. (2010) Cell M...",Q6ZMJ2
3,liver enriched,TMEM74,"NET36, PREDICTED: hypothetical protein [Rattus...",ref|XP_001063530.1|,3.36,"This study and Malik, P., et al. (2010) Cell M...",Q96NL1
4,liver enriched,PPAPDC3,"NET39, phosphatidic acid phosphatase type 2 do...",gi|59891419|ref|NP_001012349.1|;gi|34147436|re...,4.42,"This study and Schirmer, E.C., et al. (2003). ...",Q8NBV4

In [7]:
def get_uniprot_id(gene, organism):
    regex = re.compile(r'(\n)(\w+|\d+)(\n)')
    
    res = u.search('gene:' + gene + '+AND+organism:' + organism_ids[organism], 
             frmt='tab', columns='id', limit=1)
    mo = regex.search(res)
    if mo is not None:
        uniprot_id = mo.group(2)
    else:
        uniprot_id = 'Not_found'
    
    sleep(5)

    return uniprot_id

#### Rat

In [32]:
# for i, gene in enumerate(df_new['gene name']):
#     uniprot_id = get_uniprot_id(gene, 'Rat')
#     df_new.loc[i, 'Uniprot_id_Rn'] = uniprot_id
#     print(gene, uniprot_id)

TMEM53 D3ZPB8
TMEM120A Q5HZE2
SCARA5 D4A213
TMEM74 D3ZR33
PPAPDC3 Q5FVJ3
EGFR G3V6K6
SLC39A14 D3ZZM0
SCCPDH Q6AY30
WDR33 F1LT09
TMEM209 Q68FR5
KIAA1967 Not_found
TM7SF2 Q5BK21
APH1B Q0PY50
MCAT D3ZPF2
‡SLC22A24 Q76M99
TMEM38A A6ZIQ8
WFS1 E9PT53
POPDC2 Q6P722
VMA21 D3ZM03
KLHL31 D3ZLT6
CGRRF1 P97587
SAMD8 Q641X0
ATP1B4 Q9R193
DNAJC16 Q5FVM7
TMEM57 Q4V7D3
DTNA D4A772
ATP1B1 P07340
RYR1 F1LMY4
HVCN1 D3ZIU8
TMEM63A D4A2I3
C9orf46 Not_found
SLC38A10  E9PT23
TMEM160 D3ZZU4
C18orf19 Not_found
CNNM4 P0C588
MS4A1 D4A4Y3
LRRC8A Q4V8I7
FAM3C Q810F4
ABCB1 P43245
SLC9A1 P26431
ITPR2 P29995
TMEM173 F1M391
TMEM126A Q5HZA9
FAM62A Q9Z1X1
C17orf62 Not_found
C20orf30 Not_found
SEC11C Q9WTR7
MARCHV Not_found
FAM105A Q3B7D8
DHRS7 Q5RJY4
SLC25A22 Q5FVG4
DAK Q4KLZ6
NCLN Q5XIA1
SQSTM1 O08623
IAG2 O35777
TAPBPL D4A6L1
TMUB1 Q53AQ4
AYTL1 P0C1Q3
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 Q6P752
ALG2 G3V7W1
KIAA1161 Not_found
TMTC3 D3ZUJ8
LRRC37A F1M5B9
MOSPD3 Q4KLG1
ALG10B O88788
CRELD1 Q4V7F2
TMEM161A B1WC35
TMEM70 D3Z946
CKAP4 D3ZH41
OSTC B0K025
TXNDC13 G3V912
TMEM41A B1WC43
KTN1 D4A4Z9
TMEM109 Q6AYQ4
SMPD4 F1MAK9
TXNDC10 Not_found
CLPTM1 B2RYF6
CISD2 D4AAE9
MBOAT5 Q5FVN0
CTAGE5 D3ZHI1
TMEM66 Q6AYN2
C14orf101 Not_found
TMEM194 P0C8N6
ARL6IP6 Q68FV2
C9ORF5 Not_found
RHBDD1 Q4V8F3
AADACL1 B2GV54
METTL7A Q3KRE2
C8orf55 Not_found
LPGAT1 F1LTX8
ERLIN2 B5DEH2
ERMP1 Q6UPR8
ATG9A Q5FWU3
ERGIC1 F1LU48
ATLA3 Not_found
STT3A B4F7C9
TMEM201 D3ZBW3
TMEM214 A1L1L2
TMEM48 Q6AXN4
LEMD2 Q4KM57
TMEM14C Q924P2
C14orf49 Not_found
DULLARD Q3B7T6
TMEM43 Q5XIP9
LBR O08984
TOR1AIP1 Q5PQX1
TMPO Q62733
EMD Q63190
NRM Q6MG14
LEMD3 F1LWZ8
UNC84A Q5U2W0
UNC84B Not_found
SYNE1 A0A5P8DHK4
SYNE2 A0A5P8DHK3
POM121C Not_found
NUP210 P11654

#### Mouse

In [33]:
# for i, gene in enumerate(df_new['gene name']):
#     uniprot_id = get_uniprot_id(gene, 'Mouse')
#     df_new.loc[i, 'Uniprot_id_Mm'] = uniprot_id
#     print(gene, uniprot_id)

TMEM53 Q9D0Z3
TMEM120A Q8C1E7
SCARA5 Q8K299
TMEM74 Q8BQU7
PPAPDC3 Q91WB2
EGFR Q01279
SLC39A14 Q75N73
SCCPDH Q8R127
WDR33 Q8K4P0
TMEM209 Q8BRG8
KIAA1967 Not_found
TM7SF2 Q71KT5
APH1B Q8C7N7
MCAT Q8R3F5
‡SLC22A24 Not_found
TMEM38A Q3TMP8
WFS1 P56695
POPDC2 Q9ES82
VMA21 Q78T54
KLHL31 Q8BWA5
CGRRF1 Q8BMJ7
SAMD8 Q9DA37
ATP1B4 Q99ME6
DNAJC16 Q80TN4
TMEM57 Q7TQE6
DTNA Q9D2N4
ATP1B1 P14094
RYR1 E9PZQ0
HVCN1 Q3U2S8
TMEM63A Q91YT8
C9orf46 Not_found
SLC38A10  Q5I012
TMEM160 Q9D938
C18orf19 Not_found
CNNM4 Q69ZF7
MS4A1 P20490
LRRC8A Q80WG5
FAM3C Q91VU0
ABCB1 P06795
SLC9A1 Q61165
ITPR2 Q9Z329
TMEM173 Q3TBT3
TMEM126A Q9D8Y1
FAM62A Q3U7R1
C17orf62 Not_found
C20orf30 Not_found
SEC11C Q9D8V7
MARCHV Not_found
FAM105A Q3TVP5
DHRS7 Q99J47
SLC25A22 Q9D6M3
DAK Q8VC30
NCLN Q8VCM8
SQSTM1 Q64337
IAG2 Q9CQY5
TAPBPL Q8VD31
TMUB1 Q9JMG3
AYTL1 Q8BYI6
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 Q8BYU6
ALG2 P12815
KIAA1161 Q69ZQ1
TMTC3 Q8BRH0
LRRC37A B1AWG4
MOSPD3 Q8BGG6
ALG10B Q3UGP8
CRELD1 Q91XD7
TMEM161A Q8VCA6
TMEM70 Q921N7
CKAP4 Q8BMK4
OSTC Q78XF5
TXNDC13 Q8C0L0
TMEM41A Q9D8U2
KTN1 Q61595
TMEM109 Q3UBX0
SMPD4 Q6ZPR5
TXNDC10 Q8BXZ1
CLPTM1 Q8VBZ3
CISD2 Q9CQB5
MBOAT5 Q91V01
CTAGE5 Q91ZV0
TMEM66 Q8R3Q0
C14orf101 Not_found
TMEM194 Q6ZQE4
ARL6IP6 Q8BH07
C9ORF5 Not_found
RHBDD1 Q8BHC7
AADACL1 Q8BLF1
METTL7A Q8C6B0
C8orf55 Not_found
LPGAT1 Q91YX5
ERLIN2 Q8BFZ9
ERMP1 Q3UVK0
ATG9A Q68FE2
ERGIC1 Q9DC16
ATLA3 Not_found
STT3A P46978
TMEM201 A2A8U2
TMEM214 Q8BM55
TMEM48 Q8VCB1
LEMD2 Q6DVA0
TMEM14C Q9CQN6
C14orf49 Not_found
DULLARD Q3TP92
TMEM43 Q9DBS1
LBR Q3U9G9
TOR1AIP1 Q921T2
TMPO Q61029
EMD O08579
NRM Q8VC65
LEMD3 Q9WU40
UNC84A Q9D666
UNC84B Q8BJS4
SYNE1 Q6ZWR6
SYNE2 Q6ZWQ0
POM121C Not_found
NUP210 Q9QY81

In [40]:
df_new.to_csv('./Output/Korfali2012_HsMmRn.csv', index=False)

#### Cattle

In [18]:
# for i, gene in enumerate(df_new['gene name']):
#     uniprot_id = get_uniprot_id(gene, 'Cattle')
#     df_new.loc[i, 'Uniprot_id_Rn'] = uniprot_id
#     print(gene, uniprot_id)

TMEM53 Q2TBP5
TMEM120A Q05B45
SCARA5 A5PJQ2
TMEM74 F1N044
PPAPDC3 Q08DF9
EGFR A0A3Q1MHB0
SLC39A14 A5D7L5
SCCPDH Q3T067
WDR33 E1BCT7
TMEM209 E1BBC2
KIAA1967 Q0V8K2
TM7SF2 Q8WMV1
APH1B A0A3Q1LNM1
MCAT E1BPG0
‡SLC22A24 Not_found
TMEM38A A4FV75
WFS1 G3N348
POPDC2 A5PJG2
VMA21 A2VDK9
KLHL31 G3N1Y0
CGRRF1 E1BIW8
SAMD8 F1MYS1
ATP1B4 A7MB71
DNAJC16 A7MBJ0
TMEM57 Q2TLZ3
DTNA A0A3Q1NLH2
ATP1B1 G3MWR4
RYR1 A0A3Q1MUQ4
HVCN1 A0A3Q1NF89
TMEM63A A7MB88
C9orf46 Not_found
SLC38A10  A0A3Q1LQW5
TMEM160 Q24JY6
C18orf19 Not_found
CNNM4 F1MK24
MS4A1 F1MKC6
LRRC8A Q08E42
FAM3C A5PKI3
ABCB1 A0A3Q1MB23
SLC9A1 Q28036
ITPR2 Q8WN96
TMEM173 Q2KI99
TMEM126A Q32L86
FAM62A A0JN43
C17orf62 Not_found
C20orf30 Not_found
SEC11C Q2KI36
MARCHV Not_found
FAM105A A6QLS5
DHRS7 Q1RMJ5
SLC25A22 Q08DK4
DAK Q58DK4
NCLN A0A3Q1NCG7
SQSTM1 A0A3Q1LVE4
IAG2 Not_found
TAPBPL F1N3G5
TMUB1 Q3ZBI9
AYTL1 Not_found
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 A5PKH0
ALG2 A4FUG6
KIAA1161 Not_found
TMTC3 E1BG63
LRRC37A Not_found
MOSPD3 Q3T033
ALG10B A5D9F2
CRELD1 Q5EA46
TMEM161A A0A3Q1M0M5
TMEM70 A6H773
CKAP4 F1ME65
OSTC Q2KID7
TXNDC13 Not_found
TMEM41A Q08D99
KTN1 A0A3Q1LVS2
TMEM109 Q29RH9
SMPD4 F1MBU2
TXNDC10 Not_found
CLPTM1 Q2NL17
CISD2 Q05B71
MBOAT5 Q3SZL3
CTAGE5 Q0VCY9
TMEM66 Q08E24
C14orf101 Not_found
TMEM194 A7MBC7
ARL6IP6 Q3MHM8
C9ORF5 Not_found
RHBDD1 F1MQC7
AADACL1 Q1JQE6
METTL7A Q3MHK8
C8orf55 Not_found
LPGAT1 A4IFP8
ERLIN2 Q1RMU4
ERMP1 F1MI95
ATG9A Q3T904
ERGIC1 F6QNX4
ATLA3 Not_found
STT3A Q2KJI2
TMEM201 Q32PF0
TMEM214 A4FV45
TMEM48 Not_found
LEMD2 E1B828
TMEM14C Q3ZCI1
C14orf49 Not_found
DULLARD Q1RMV9
TMEM43 A0A3Q1M1M5
LBR A6QQV8
TOR1AIP1 F1N4E5
TMPO F1MCA8
EMD Q3SX08
NRM Q32LM8
LEMD3 E1BIJ4
UNC84A Not_found
UNC84B A6QLV1
SYNE1 F1MXF3
SYNE2 F1MF78
POM121C Not_found
NUP210 F1MPW7

In [19]:
df_new = df_new.rename(columns={'Uniprot_id_Rn': 'Uniprot_id_Bt'})

In [21]:
df_new_Bt = df_new.loc[:, ['gene name', 'Uniprot_id_Bt']]

In [24]:
df_new_Bt.to_csv('./Output/Korfali2012_Bt.csv', index=False)

#### Chicken

In [8]:
for i, gene in enumerate(df_new['gene name']):
    uniprot_id = get_uniprot_id(gene, 'Chicken')
    df_new.loc[i, 'Uniprot_id_Gg'] = uniprot_id
    print(gene, uniprot_id)

TMEM53 A0A1L1RPU6
TMEM120A A0A1L1RTV7
SCARA5 E1BRR4
TMEM74 Not_found
PPAPDC3 Not_found
EGFR P13387
SLC39A14 A0A1D5P8A5
SCCPDH Q5ZMK3
WDR33 A0A1D5P9L5
TMEM209 F1N9C5
KIAA1967 Not_found
TM7SF2 Not_found
APH1B E1C2N9
MCAT A0A1D5PZK7
‡SLC22A24 Not_found
TMEM38A Q5ZK43
WFS1 F1NQG0
POPDC2 F1NPM0
VMA21 Q5ZLL0
KLHL31 E1BTG0
CGRRF1 E1BT28
SAMD8 F1NI82
ATP1B4 Q2HZ96
DNAJC16 Q5ZKZ4
TMEM57 Q5ZLJ6
DTNA A0A1D5PAS6
ATP1B1 F1NSV6
RYR1 Q90984
HVCN1 Q5F4C0
TMEM63A F1P4T6
C9orf46 Not_found
SLC38A10  A0A3Q3A966
TMEM160 Not_found
C18orf19 Not_found
CNNM4 A0A3Q2UAJ6
MS4A1 Not_found
LRRC8A E1BQK4
FAM3C E1BWA9
ABCB1 E1BS63
SLC9A1 A0A3Q3AS64
ITPR2 F1P1X4
TMEM173 E1C7U0
TMEM126A E1C1X1
FAM62A Not_found
C17orf62 Not_found
C20orf30 Not_found
SEC11C A0A1D5PRA3
MARCHV Not_found
FAM105A F1NNA2
DHRS7 F1NH35
SLC25A22 A0A1D5PSP0
DAK Q5ZJM7
NCLN Q5ZJH2
SQSTM1 A0A1D5PLN4
IAG2 Not_found
TAPBPL O73895
TMUB1 Not_found
AYTL1 Not_found
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 F1P319
ALG2 F1NWX1
KIAA1161 F1NB98
TMTC3 E1C3P5
LRRC37A Not_found
MOSPD3 Not_found
ALG10B Not_found
CRELD1 A0A1D5P823
TMEM161A A0A3Q2TVK5
TMEM70 Q5ZLJ4
CKAP4 F1P360
OSTC Q5ZJR3
TXNDC13 Not_found
TMEM41A F1P1Z8
KTN1 Q90631
TMEM109 Not_found
SMPD4 E1BQB7
TXNDC10 Not_found
CLPTM1 Q5ZKJ0
CISD2 R4GLS1
MBOAT5 Not_found
CTAGE5 Not_found
TMEM66 Not_found
C14orf101 Not_found
TMEM194 Q5ZJY9
ARL6IP6 Not_found
C9ORF5 Not_found
RHBDD1 E1BT32
AADACL1 Not_found
METTL7A A0A1D5PA28
C8orf55 Not_found
LPGAT1 A0A1D5P9H8
ERLIN2 F1NBD0
ERMP1 E1C3Q6
ATG9A A0A3Q2TU81
ERGIC1 E1C2I3
ATLA3 Not_found
STT3A Q5ZLA7
TMEM201 A0A3Q2UF29
TMEM214 E1BTZ4
TMEM48 Not_found
LEMD2 E1C2H4
TMEM14C A0A1D5PLN3
C14orf49 Not_found
DULLARD Not_found
TMEM43 E1BUH7
LBR P23913
TOR1AIP1 A0A1D5PN56
TMPO F1NZS9
EMD Not_found
NRM Not_found
LEMD3 F1NHX3
UNC84A Not_found
UNC84B Not_found
SYNE1 F1NG02
SYNE2 E1BZI5
POM121C A0A3Q2UNF7
NUP210 F1NZB4

In [9]:
df_new_Gg = df_new.loc[:, ['gene name', 'Uniprot_id_Gg']]
df_new_Gg.head()

  gene name Uniprot_id_Gg
0    TMEM53    A0A1L1RPU6
1  TMEM120A    A0A1L1RTV7
2    SCARA5        E1BRR4
3    TMEM74     Not_found
4   PPAPDC3     Not_found

In [10]:
df_new_Gg.to_csv('./Output/Korfali2012_Gg.csv', index=False)

#### Frog

In [11]:
for i, gene in enumerate(df_new['gene name']):
    uniprot_id = get_uniprot_id(gene, 'Frog')
    df_new.loc[i, 'Uniprot_id_Xt'] = uniprot_id
    print(gene, uniprot_id)

TMEM53 A0A1L8GFP4
TMEM120A A1L2R7
SCARA5 A0A1L8G670
TMEM74 Q32NM9
PPAPDC3 Not_found
EGFR A0A1L8FWP8
SLC39A14 A0A1L8GRP2
SCCPDH Q6GLY0
WDR33 A0A1L8GAN7
TMEM209 Q6GPP7
KIAA1967 Not_found
TM7SF2 Q7T0Z1
APH1B Not_found
MCAT A0A1L8GW12
‡SLC22A24 Not_found
TMEM38A Q7ZY07
WFS1 Q32NP9
POPDC2 Q640L0
VMA21 A0A1L8F7J3
KLHL31 A0A1L8G9Y1
CGRRF1 Q66KU6
SAMD8 Not_found
ATP1B4 Q202B1
DNAJC16 A0A1L8FHP4
TMEM57 A0A1L8HFP3
DTNA Q7ZX13
ATP1B1 Q91580
RYR1 A0A1L8F907
HVCN1 Q5M7E9
TMEM63A Q5PQ13
C9orf46 Not_found
SLC38A10  Q6PCF9
TMEM160 Not_found
C18orf19 Not_found
CNNM4 A0A1L8H1T6
MS4A1 Not_found
LRRC8A Q640H6
FAM3C Q6GQC1
ABCB1 Q91586
SLC9A1 P70009
ITPR2 Not_found
TMEM173 Not_found
TMEM126A Q4V7T4
FAM62A Not_found
C17orf62 Not_found
C20orf30 Not_found
SEC11C Q3KPY3
MARCHV Not_found
FAM105A Not_found
DHRS7 Q0IH28
SLC25A22 Q6P4S3
DAK Not_found
NCLN Q6GQK1
SQSTM1 Q6PGS1
IAG2 Not_found
TAPBPL Not_found
TMUB1 Q3KPV4
AYTL1 Not_found
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 Not_found
ALG2 Q6DDS6
KIAA1161 Not_found
TMTC3 A0A1L8GY93
LRRC37A Not_found
MOSPD3 Q5PQ72
ALG10B Not_found
CRELD1 A0A1L8GQ26
TMEM161A Q6GMB1
TMEM70 A0A1L8FT80
CKAP4 Q566H9
OSTC Q5M9B7
TXNDC13 Not_found
TMEM41A A0A1L8EPP3
KTN1 Not_found
TMEM109 Not_found
SMPD4 Q5XHG1
TXNDC10 Q6GNG3
CLPTM1 A0A1L8F3I8
CISD2 Q6PCF8
MBOAT5 Not_found
CTAGE5 Not_found
TMEM66 Q0IHF9
C14orf101 Not_found
TMEM194 A1L3G9
ARL6IP6 A0JMX0
C9ORF5 Not_found
RHBDD1 Q68EU3
AADACL1 Not_found
METTL7A A0A1L8HIA8
C8orf55 Not_found
LPGAT1 A0A1L8G1D6
ERLIN2 Q6DKC0
ERMP1 Q0VGW4
ATG9A Not_found
ERGIC1 Q6NS19
ATLA3 Not_found
STT3A Q5U4M7
TMEM201 Not_found
TMEM214 A0JMW6
TMEM48 Q6AX31
LEMD2 Not_found
TMEM14C Q66L20
C14orf49 Not_found
DULLARD Q8JIL9
TMEM43 Not_found
LBR Q9W708
TOR1AIP1 Not_found
TMPO O73766
EMD B7ZPV1
NRM Q6GNM0
LEMD3 A0A1L8GYG3
UNC84A Not_found
UNC84B Not_found
SYNE1 Q7ZWJ1
SYNE2 A0A1L8F015
POM121C Not_found
NUP210 Not_found

In [12]:
df_new_Xt = df_new.loc[:, ['gene name', 'Uniprot_id_Xt']]
df_new_Xt.head()

  gene name Uniprot_id_Xt
0    TMEM53    A0A1L8GFP4
1  TMEM120A        A1L2R7
2    SCARA5    A0A1L8G670
3    TMEM74        Q32NM9
4   PPAPDC3     Not_found

In [13]:
df_new_Xt.to_csv('./Output/Korfali2012_Xt.csv', index=False)

#### Zebrafish

In [14]:
for i, gene in enumerate(df_new['gene name']):
    uniprot_id = get_uniprot_id(gene, 'Zebrafish')
    df_new.loc[i, 'Uniprot_id_Dr'] = uniprot_id
    print(gene, uniprot_id)

TMEM53 Q6DHN0
TMEM120A A3KNK1
SCARA5 Q5RFW0
TMEM74 X1WFQ7
PPAPDC3 Q6P0E8
EGFR Q7SZF7
SLC39A14 A0A0G2KQY6
SCCPDH Not_found
WDR33 F1QJZ5
TMEM209 Q1L8M7
KIAA1967 Not_found
TM7SF2 E9QHB5
APH1B Q8JHE9
MCAT Q5RGV8
‡SLC22A24 Not_found
TMEM38A Q6P2T0
WFS1 E7F921
POPDC2 Q6JWV8
VMA21 B8JLV7
KLHL31 Q6Q7X9
CGRRF1 Q1JQ68
SAMD8 A4QNV5
ATP1B4 E7F9R1
DNAJC16 F1QJZ7
TMEM57 Q2TLY1
DTNA A2CJ03
ATP1B1 Q9DGL3
RYR1 F1QEX9
HVCN1 Q6DHQ1
TMEM63A F1R745
C9orf46 Not_found
SLC38A10  E7F671
TMEM160 B3DJK0
C18orf19 Not_found
CNNM4 F1Q7I7
MS4A1 Not_found
LRRC8A E9QIH3
FAM3C Q7ZYY4
ABCB1 Not_found
SLC9A1 A9XP99
ITPR2 F1QW18
TMEM173 E7F4N7
TMEM126A A0A2R8QM83
FAM62A Not_found
C17orf62 Not_found
C20orf30 Not_found
SEC11C Not_found
MARCHV Not_found
FAM105A Not_found
DHRS7 Q566S6
SLC25A22 Q7ZTT6
DAK Q08CB4
NCLN Not_found
SQSTM1 F1Q5Z8
IAG2 Not_found
TAPBPL X1WBD6
TMUB1 Q6P135
AYTL1 Q502J0
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 Not_found
ALG2 F1QPS1
KIAA1161 Not_found
TMTC3 E7FG92
LRRC37A Not_found
MOSPD3 Not_found
ALG10B Not_found
CRELD1 E7F4A7
TMEM161A Q0V947
TMEM70 E7FGK5
CKAP4 Q6NW47
OSTC Q7ZWJ3
TXNDC13 Not_found
TMEM41A Q502G2
KTN1 Q6TEN8
TMEM109 Not_found
SMPD4 Q6PFJ7
TXNDC10 Q503X6
CLPTM1 Q6DEL2
CISD2 Q7T326
MBOAT5 Not_found
CTAGE5 Q7ZU98
TMEM66 F1QPC3
C14orf101 Not_found
TMEM194 Not_found
ARL6IP6 A3KP54
C9ORF5 Not_found
RHBDD1 Q568J3
AADACL1 Not_found
METTL7A Q05AJ2
C8orf55 Not_found
LPGAT1 Q5TZG1
ERLIN2 A3QK16
ERMP1 Not_found
ATG9A A2RV24
ERGIC1 Q4V8Y6
ATLA3 Not_found
STT3A Q7ZUY9
TMEM201 A4IG66
TMEM214 F1QEL0
TMEM48 Q7SZC5
LEMD2 Not_found
TMEM14C Q0P436
C14orf49 Not_found
DULLARD Q5U395
TMEM43 Q6NUT9
LBR Q5RJ97
TOR1AIP1 Not_found
TMPO Q5RGX4
EMD E9QFP7
NRM Q1L911
LEMD3 Q5TZH9
UNC84A Not_found
UNC84B Not_found
SYNE1 E7EZ30
SYNE2 Q07DQ9
POM121C Not_found
NUP210 F1QC46

In [15]:
df_new_Dr = df_new.loc[:, ['gene name', 'Uniprot_id_Dr']]
df_new_Dr.head()

  gene name Uniprot_id_Dr
0    TMEM53        Q6DHN0
1  TMEM120A        A3KNK1
2    SCARA5        Q5RFW0
3    TMEM74        X1WFQ7
4   PPAPDC3        Q6P0E8

In [16]:
df_new_Dr.to_csv('./Output/Korfali2012_Dr.csv', index=False)

#### Fly

In [18]:
for i, gene in enumerate(df_new['gene name']):
    uniprot_id = get_uniprot_id(gene, 'Fly')
    df_new.loc[i, 'Uniprot_id_Dm'] = uniprot_id
    print(gene, uniprot_id)

TMEM53 Not_found
TMEM120A Not_found
SCARA5 Not_found
TMEM74 Not_found
PPAPDC3 Not_found
EGFR Q8MLW0
SLC39A14 Not_found
SCCPDH Q9VN86
WDR33 Q9VNG2
TMEM209 Not_found
KIAA1967 Not_found
TM7SF2 Not_found
APH1B Not_found
MCAT Not_found
‡SLC22A24 Not_found
TMEM38A Not_found
WFS1 Q8IMZ9
POPDC2 Not_found
VMA21 Not_found
KLHL31 Not_found
CGRRF1 Not_found
SAMD8 Not_found
ATP1B4 Not_found
DNAJC16 Not_found
TMEM57 Not_found
DTNA Not_found
ATP1B1 Not_found
RYR1 Not_found
HVCN1 Not_found
TMEM63A Not_found
C9orf46 Not_found
SLC38A10  Not_found
TMEM160 Not_found
C18orf19 Not_found
CNNM4 Not_found
MS4A1 Not_found
LRRC8A Not_found
FAM3C Not_found
ABCB1 Not_found
SLC9A1 Not_found
ITPR2 Not_found
TMEM173 Not_found
TMEM126A Not_found
FAM62A Not_found
C17orf62 Not_found
C20orf30 Not_found
SEC11C Not_found
MARCHV Not_found
FAM105A Not_found
DHRS7 Not_found
SLC25A22 Not_found
DAK Q9VBI2
NCLN Not_found
SQSTM1 Not_found
IAG2 Not_found
TAPBPL Not_found
TMUB1 Not_found
AYTL1 Not_found
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 Not_found
ALG2 Q9VZU8
KIAA1161 Not_found
TMTC3 Q7K4B6
LRRC37A Not_found
MOSPD3 Not_found
ALG10B Not_found
CRELD1 Not_found
TMEM161A Not_found
TMEM70 Not_found
CKAP4 Not_found
OSTC Not_found
TXNDC13 Not_found
TMEM41A Not_found
KTN1 Not_found
TMEM109 Not_found
SMPD4 Not_found
TXNDC10 Not_found
CLPTM1 Not_found
CISD2 Q9VAM6
MBOAT5 Not_found
CTAGE5 Not_found
TMEM66 Not_found
C14orf101 Not_found
TMEM194 Not_found
ARL6IP6 Not_found
C9ORF5 Not_found
RHBDD1 Not_found
AADACL1 Not_found
METTL7A Not_found
C8orf55 Not_found
LPGAT1 Not_found
ERLIN2 Not_found
ERMP1 Not_found
ATG9A Not_found
ERGIC1 Not_found
ATLA3 Not_found
STT3A Q9VRE0
TMEM201 Not_found
TMEM214 Not_found
TMEM48 Not_found
LEMD2 Not_found
TMEM14C Not_found
C14orf49 Not_found
DULLARD Not_found
TMEM43 Not_found
LBR Q8MLV1
TOR1AIP1 Not_found
TMPO Not_found
EMD Not_found
NRM M9PGA2
LEMD3 Not_found
UNC84A Not_found
UNC84B Not_found
SYNE1 Not_found
SYNE2 Not_found
POM121C Not_found
NUP210 Not_found

In [19]:
df_new_Dm = df_new.loc[:, ['gene name', 'Uniprot_id_Dm']]
df_new_Dm.head()

  gene name Uniprot_id_Dm
0    TMEM53     Not_found
1  TMEM120A     Not_found
2    SCARA5     Not_found
3    TMEM74     Not_found
4   PPAPDC3     Not_found

In [20]:
df_new_Dm.to_csv('./Output/Korfali2012_Dm.csv', index=False)

#### Worms

In [22]:
for i, gene in enumerate(df_new['gene name']):
    uniprot_id = get_uniprot_id(gene, 'Worm')
    df_new.loc[i, 'Uniprot_id_Ce'] = uniprot_id
    print(gene, uniprot_id)

TMEM53 Not_found
TMEM120A Not_found
SCARA5 Not_found
TMEM74 Not_found
PPAPDC3 Not_found
EGFR Not_found
SLC39A14 Not_found
SCCPDH Not_found
WDR33 Not_found
TMEM209 Not_found
KIAA1967 Not_found
TM7SF2 Not_found
APH1B Not_found
MCAT Not_found
‡SLC22A24 Not_found
TMEM38A Not_found
WFS1 Not_found
POPDC2 Not_found
VMA21 Not_found
KLHL31 Not_found
CGRRF1 Not_found
SAMD8 Not_found
ATP1B4 Not_found
DNAJC16 Not_found
TMEM57 Not_found
DTNA Not_found
ATP1B1 Not_found
RYR1 P91905
HVCN1 Not_found
TMEM63A Not_found
C9orf46 Not_found
SLC38A10  Not_found
TMEM160 Not_found
C18orf19 Not_found
CNNM4 Q17586
MS4A1 Not_found
LRRC8A Not_found
FAM3C Not_found
ABCB1 Not_found
SLC9A1 Not_found
ITPR2 Not_found
TMEM173 Not_found
TMEM126A Not_found
FAM62A Not_found
C17orf62 Not_found
C20orf30 Not_found
SEC11C Not_found
MARCHV Not_found
FAM105A Not_found
DHRS7 Not_found
SLC25A22 Not_found
DAK Not_found
NCLN Not_found
SQSTM1 Not_found
IAG2 Not_found
TAPBPL Not_found
TMUB1 Not_found
AYTL1 Not_found
C20orf3 Not_found
C17orf32 Not_found
C14orf1 Not_found
TOR1AIP2 Not_found
ALG2 O16720
KIAA1161 Not_found
TMTC3 Not_found
LRRC37A Not_found
MOSPD3 Not_found
ALG10B Not_found
CRELD1 Not_found
TMEM161A Not_found
TMEM70 Not_found
CKAP4 Not_found
OSTC Not_found
TXNDC13 Not_found
TMEM41A Not_found
KTN1 Not_found
TMEM109 Not_found
SMPD4 Not_found
TXNDC10 Not_found
CLPTM1 Not_found
CISD2 Not_found
MBOAT5 Not_found
CTAGE5 Not_found
TMEM66 Not_found
C14orf101 Not_found
TMEM194 Not_found
ARL6IP6 Not_found
C9ORF5 Not_found
RHBDD1 Not_found
AADACL1 Not_found
METTL7A Not_found
C8orf55 Not_found
LPGAT1 Not_found
ERLIN2 Not_found
ERMP1 Not_found
ATG9A Not_found
ERGIC1 Not_found
ATLA3 Not_found
STT3A Not_found
TMEM201 Not_found
TMEM214 Not_found
TMEM48 Not_found
LEMD2 Not_found
TMEM14C Not_found
C14orf49 Not_found
DULLARD Not_found
TMEM43 Not_found
LBR Not_found
TOR1AIP1 Not_found
TMPO Not_found
EMD Not_found
NRM Not_found
LEMD3 Not_found
UNC84A Not_found
UNC84B Not_found
SYNE1 Not_found
SYNE2 Not_found
POM121C Not_found
NUP210 Not_found

In [23]:
df_new_Ce = df_new.loc[:, ['gene name', 'Uniprot_id_Ce']]
df_new_Ce.head()

  gene name Uniprot_id_Ce
0    TMEM53     Not_found
1  TMEM120A     Not_found
2    SCARA5     Not_found
3    TMEM74     Not_found
4   PPAPDC3     Not_found

In [24]:
df_new_Ce.to_csv('./Output/Korfali2012_Ce.csv', index=False)

### 4. Incorporate all species data

In [26]:
df_HsMmRn = pd.read_csv('./Output/Korfali2012_HsMmRn.csv')
df_HsMmRn.head()

,Unnamed: 0,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference,Uniprot_id_Hs,Uniprot_id_Rn,Uniprot_id_Mm
0,0,liver enriched,TMEM53,"NET4, transmembrane protein 53",ref|NP_081113.1|,2.57,"This study and Schirmer, E.C., et al. (2003). ...",Q6P2H8,D3ZPB8,Q9D0Z3
1,1,liver enriched,TMEM120A,"NET29, transmembrane protein induced by tumor ...",ref|NP_766129.1|,INF,"This study and Malik, P., et al. (2010) Cell M...",Q9BXJ8,Q5HZE2,Q8C1E7
2,2,liver enriched,SCARA5,"NET33, PREDICTED: similar to protease, serine,...",gi|109502608|ref|XP_001066668.1|,0.1,"This study and Malik, P., et al. (2010) Cell M...",Q6ZMJ2,D4A213,Q8K299
3,3,liver enriched,TMEM74,"NET36, PREDICTED: hypothetical protein [Rattus...",ref|XP_001063530.1|,3.36,"This study and Malik, P., et al. (2010) Cell M...",Q96NL1,D3ZR33,Q8BQU7
4,4,liver enriched,PPAPDC3,"NET39, phosphatidic acid phosphatase type 2 do...",gi|59891419|ref|NP_001012349.1|;gi|34147436|re...,4.42,"This study and Schirmer, E.C., et al. (2003). ...",Q8NBV4,Q5FVJ3,Q91WB2

In [34]:
df_Bt = pd.read_csv('./Output/Korfali2012_Bt.csv')
df_Gg = pd.read_csv('./Output/Korfali2012_Gg.csv')
df_Xt = pd.read_csv('./Output/Korfali2012_Xt.csv')
df_Dr = pd.read_csv('./Output/Korfali2012_Dr.csv')
df_Dm = pd.read_csv('./Output/Korfali2012_Dm.csv')
df_Ce = pd.read_csv('./Output/Korfali2012_Ce.csv')

In [35]:
df = df_HsMmRn

In [36]:
for _df in [df_Bt, df_Gg, df_Xt, df_Dr, df_Dm, df_Ce]:
    df = df.merge(_df, how='left', on='gene name')

In [41]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference,Uniprot_id_Hs,Uniprot_id_Rn,Uniprot_id_Mm,Uniprot_id_Bt,Uniprot_id_Gg,Uniprot_id_Xt,Uniprot_id_Dr,Uniprot_id_Dm,Uniprot_id_Ce
0,liver enriched,TMEM53,"NET4, transmembrane protein 53",ref|NP_081113.1|,2.57,"This study and Schirmer, E.C., et al. (2003). ...",Q6P2H8,D3ZPB8,Q9D0Z3,Q2TBP5,A0A1L1RPU6,A0A1L8GFP4,Q6DHN0,Not_found,Not_found
1,liver enriched,TMEM120A,"NET29, transmembrane protein induced by tumor ...",ref|NP_766129.1|,INF,"This study and Malik, P., et al. (2010) Cell M...",Q9BXJ8,Q5HZE2,Q8C1E7,Q05B45,A0A1L1RTV7,A1L2R7,A3KNK1,Not_found,Not_found
2,liver enriched,SCARA5,"NET33, PREDICTED: similar to protease, serine,...",gi|109502608|ref|XP_001066668.1|,0.1,"This study and Malik, P., et al. (2010) Cell M...",Q6ZMJ2,D4A213,Q8K299,A5PJQ2,E1BRR4,A0A1L8G670,Q5RFW0,Not_found,Not_found
3,liver enriched,TMEM74,"NET36, PREDICTED: hypothetical protein [Rattus...",ref|XP_001063530.1|,3.36,"This study and Malik, P., et al. (2010) Cell M...",Q96NL1,D3ZR33,Q8BQU7,F1N044,Not_found,Q32NM9,X1WFQ7,Not_found,Not_found
4,liver enriched,PPAPDC3,"NET39, phosphatidic acid phosphatase type 2 do...",gi|59891419|ref|NP_001012349.1|;gi|34147436|re...,4.42,"This study and Schirmer, E.C., et al. (2003). ...",Q8NBV4,Q5FVJ3,Q91WB2,Q08DF9,Not_found,Not_found,Q6P0E8,Not_found,Not_found

In [42]:
df.columns

Index(['tissue', 'gene name', 'alternate names', 'accession numbers',
       'NE:MM ratio by dNSAF', 'reference', 'Uniprot_id_Hs', 'Uniprot_id_Rn',
       'Uniprot_id_Mm', 'Uniprot_id_Bt', 'Uniprot_id_Gg', 'Uniprot_id_Xt',
       'Uniprot_id_Dr', 'Uniprot_id_Dm', 'Uniprot_id_Ce'],
      dtype='object')

In [49]:
df = pd.melt(df, id_vars=['tissue', 'gene name', 'alternate names', 'accession numbers',
       'NE:MM ratio by dNSAF', 'reference'], var_name='organism', value_name='Uniprot_id')

In [64]:
organisms_dict = {
                'Uniprot_id_Hs': 'H. sapiens',
                'Uniprot_id_Rn': 'R. norvegicus',
                'Uniprot_id_Mm': 'M. musculus',
                'Uniprot_id_Bt': 'B. taurus',
                'Uniprot_id_Gg': 'G. gallus',
                'Uniprot_id_Xt': 'X. tropicalis',
                'Uniprot_id_Dr': 'D. rerio',
                'Uniprot_id_Dm': 'D. melanogaster', 
                'Uniprot_id_Ce': 'C. elegans'
                }

In [69]:
for id_name, organism in organisms_dict.items():
    df.loc[df['organism']==id_name, 'organism'] = organism

In [71]:
# df.head()
df.tail()

,tissue,gene name,alternate names,accession numbers,NE:MM ratio by dNSAF,reference,organism,Uniprot_id
1066,Original NETs (pre-MudPIT proteomics),UNC84B,"SUN2, unc-84 homolog B",gi|109482575|ref|XP_001076724.1|;gi|34996501|r...,74.71,"Hodzic, D.M., et al. (2004) J. Biol. Chem. 279...",C. elegans,Not_found
1067,Original NETs (pre-MudPIT proteomics),SYNE1,"syne-1, nesprin 1 isoform longer, C6orf98",gi|119120865|ref|NP_001073154.1|;gi|23097308|r...,INF,"Apel, E.D., et al. (2000) J. Biol. Chem. 275, ...",C. elegans,Not_found
1068,Original NETs (pre-MudPIT proteomics),SYNE2,"syne-2, spectrin repeat containing, nuclear en...",gi|33624848|ref|NP_055995.3|;gi|109479539|ref|...,INF,"Zhang, Q., et al. (2001) J. Cell Sci. 114, 44...",C. elegans,Not_found
1069,Original NETs (pre-MudPIT proteomics),POM121C,"POM121, nuclear pore membrane protein 121",gi|26051278|ref|NP_742017.1|;gi|16758424|ref|N...,INF,"Soderqvist, H., et al. (1997) Eur. J. Biochem....",C. elegans,Not_found
1070,Original NETs (pre-MudPIT proteomics),NUP210,"gp210, nucleoporin 210",gi|16758020|ref|NP_445774.1|;gi|9055314|ref|NP...,INF,"Gerace, L., et al. (1982) J. Cell Biol. 95, 82...",C. elegans,Not_found

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tissue                1071 non-null   object
 1   gene name             1071 non-null   object
 2   alternate names       1071 non-null   object
 3   accession numbers     1071 non-null   object
 4   NE:MM ratio by dNSAF  1071 non-null   object
 5   reference             1071 non-null   object
 6   organism              1071 non-null   object
 7   Uniprot_id            1071 non-null   object
dtypes: object(8)
memory usage: 67.1+ KB

In [73]:
df.to_csv('./Output/Korfali2012_allorganisms_v1.csv', index=False)