In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('./SourceData/NLS/NLSdb_2017/signals.csv')

In [3]:
df.head()

,ID,Sequence,SignalType,AnnotationType,ConfidenceNuc,ConfidenceFam,Origin,Added,Modified
0,1,AAKKPR,NLS,Potential,2,2,In Silico Mutagenesis,2017-10-11 15:10:55,2017-10-11 15:10:55
1,2,AAKKQK,NLS,Potential,3,3,In Silico Mutagenesis,2017-10-11 15:10:55,2017-10-11 15:10:55
2,3,AAKKTK,NLS,Potential,2,2,In Silico Mutagenesis,2017-10-11 15:10:55,2017-10-11 15:10:55
3,4,AAKRRL,NLS,Potential,3,3,In Silico Mutagenesis,2017-10-11 15:10:55,2017-10-11 15:10:55
4,5,AEKKAK,NLS,Potential,5,3,In Silico Mutagenesis,2017-10-11 15:10:55,2017-10-11 15:10:55

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2651 entries, 0 to 2650
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2651 non-null   int64
 1   Sequence        2651 non-null   object
 2   SignalType      2651 non-null   object
 3   AnnotationType  2651 non-null   object
 4   ConfidenceNuc   2651 non-null   int64
 5   ConfidenceFam   2651 non-null   int64
 6   Origin          2651 non-null   object
 7   Added           2651 non-null   object
 8   Modified        2651 non-null   object
dtypes: int64(3), object(6)
memory usage: 186.5+ KB

In [17]:
df_experimental = df[df['AnnotationType'] == 'Experimental']

In [18]:
df_experimental.head()

,ID,Sequence,SignalType,AnnotationType,ConfidenceNuc,ConfidenceFam,Origin,Added,Modified
9,10,AHFKISGEKRPSTDPGKKAKNPKKKKKKDP,NLS,Experimental,1,1,Q76IQ7,2017-10-11 15:10:55,2017-10-11 15:10:55
10,11,AHRAKKMSKTHA,NLS,Experimental,1,1,P21827,2017-10-11 15:10:55,2017-10-11 15:10:55
61,62,ASPEYVNLPINGNG,NLS,Experimental,1,1,SeqNLS,2017-10-11 15:10:55,2017-10-11 15:10:55
76,77,CTKRPRW,NLS,Experimental,1,1,"O88622, Q86W56, Q9QYM2, O02776",2017-10-11 15:10:55,2017-10-11 15:10:55
82,83,DKAKRVSRNKSEKKRR,NLS,Experimental,2,1,"O15516, Q5RAK8, Q91YB2, Q91YB0, Q8QGQ6, O08785...",2017-10-11 15:10:55,2017-10-11 15:10:55

In [6]:
list_NLS = df['Sequence'].unique()
print(len(list_NLS))

2651

In [7]:
Sun2 = 'MSRRSQRLTRYSQGDDDGSSSSGGSSVAGSQSTLFKDSPLRTLKRKSSNMKRLSPAPQLGPSSDAHTSYYSESLVHESWFPPRSSLEELHGDANWGEDLRVRRRRGTGGSESSRASGLVGRKATEDFLGSSSGYSSEDDYVGYSDVDQQSSSSRLRSAVSRAGSLLWMVATSPGRLFRLLYWWAGTTWYRLTTAASLLDVFVLTRRFSSLKTFLWFLLPLLLLTCLTYGAWYFYPYGLQTFHPALVSWWAAKDSRRPDEGWEARDSSPHFQAEQRVMSRVHSLERRLEALAAEFSSNWQKEAMRLERLELRQGAPGQGGGGGLSHEDTLALLEGLVSRREAALKEDFRRETAARIQEELSALRAEHQQDSEDLFKKIVRASQESEARIQQLKSEWQSMTQESFQESSVKELRRLEDQLAGLQQELAALALKQSSVAEEVGLLPQQIQAVRDDVESQFPAWISQFLARGGGGRVGLLQREEMQAQLRELESKILTHVAEMQGKSAREAAASLSLTLQKEGVIGVTEEQVHHIVKQALQRYSEDRIGLADYALESGGASVISTRCSETYETKTALLSLFGIPLWYHSQSPRVILQPDVHPGNCWAFQGPQGFAVVRLSARIRPTAVTLEHVPKALSPNSTISSAPKDFAIFGFDEDLQQEGTLLGKFTYDQDGEPIQTFHFQAPTMATYQVVELRILTNWGHPEYTCIYRFRVHGEPAH'

In [19]:
CLOCK = 'MLFTVSCSKMSSIVDRDDSSIFDGLVEEDDKDKAKRVSRNKSEKKRRDQFNVLIKELGSMLPGNARKMDKSTVLQKSIDFLRKHKEITAQSDASEIRQDWKPTFLSNEEFTQLMLEALDGFFLAIMTDGSIIYVSESVTSLLEHLPSDLVDQSIFNFIPEGEHSEVYKILSTHLLESDSLTPEYLKSKNQLEFCCHMLRGTIDPKEPSTYEYVKFIGNFKSLNSVSSSAHNGFEGTIQRTHRPSYEDRVCFVATVRLATPQFIKEMCTVEEPNEEFTSRHSLEWKFLFLDHRAPPIIGYLPFEVLGTSGYDYYHVDDLENLAKCHEHLMQYGKGKSCYYRFLTKGQQWIWLQTHYYITYHQWNSRPEFIVCTHTVVSYAEVRAERRRELGIEESLPETAADKSQDSGSDNRINTVSLKEALERFDHSPTPSASSRSSRKSSHTAVSDPSSTPTKIPTDTSTPPRQHLPAHEKMVQRRSSFSSQSINSQSVGSSLTQPVMSQATNLPIPQGMSQFQFSAQLGAMQHLKDQLEQRTRMIEANIHRQQEELRKIQEQLQMVHGQGLQMFLQQSNPGLNFGSVQLSSGNSSNIQQLAPINMQGQVVPTNQIQSGMNTGHIGTTQHMIQQQTLQSTSTQSQQNVLSGHSQQTSLPSQTQSTLTAPLYNTMVISQPAAGSMVQIPSSMPQNSTQSAAVTTFTQDRQIRFSQGQQLVTKLVTAPVACGAVMVPSTMLMGQVVTAYPTFATQQQQSQTLSVTQQQQQQSSQEQQLTSVQQPSQAQLTQPPQQFLQTSRLLHGNPSTQLILSAAFPLQQSTFPQSHHQQHQSQQQQQLSRHRTDSLPDPSKVQPQ'

In [8]:
test = 'VTLEHVPKAL'

In [10]:
test2 = 'KDNG'

In [9]:
Sun2.find(test)

623

In [11]:
Sun2.find(test2)

-1

In [20]:
NLS_positions = dict()
for i, NLS in enumerate(list_NLS):
    position = CLOCK.find(NLS)
    if position != -1:
        NLS_positions[NLS] = position

In [21]:
NLS_positions

{'AKRVSR': 33,
 'DKAKRVSRNKSEKKRR': 31,
 'NKSEKK': 39,
 'RNKSEK': 38,
 'SEKKRR': 41}