In [1]:
import os
import pandas as pd

### Combine the datasets

#### Import HPA

In [5]:
df_HPA = pd.read_csv('./Output/HPA_NE-NP-ER_Hs.csv')
df_HPA.head()

,Unnamed: 0,Gene_name,Subcellular_loc_HPA,EvidenceLevel_HPA,Subcellular_location,Uniprot_id
0,0,TPR,['Nuclear membrane'],Enhanced,Nuclear_membrane,P12270
1,1,XPO1,"['Nucleoplasm', 'Nuclear membrane']",Enhanced,Nuclear_membrane,O14980
2,2,NUP50,"['Nucleoplasm', 'Nuclear membrane']",Enhanced,Nuclear_membrane,Q9UKX7
3,3,RANGAP1,['Nuclear membrane'],Enhanced,Nuclear_membrane,P46060
4,4,EMD,['Nuclear membrane'],Enhanced,Nuclear_membrane,P50402

#### Import NLSdb

In [3]:
df_NLSdb = pd.read_csv('./Output/Hs_proteome_w_NLS_by_NLSdb.csv')

In [7]:
df_NLSdb.head()

,Entry,Protein names,Gene names,Annotation,Status,Sequence,NLS locations
0,A6H8Y1,Transcription factor TFIIIB component B'' homo...,BDP1 KIAA1241 KIAA1689 TFNR,5 out of 5,reviewed,MFRRARLSVKPNVRPGVGARGSTASNPQRGRESPRPPDPATDSASK...,"{'KKRRRK': 461, 'KRPKP': 1438, 'SKKEPR': 1853}"
1,O60885,Bromodomain-containing protein 4 (Protein HUNK1),BRD4 HUNK1,5 out of 5,reviewed,MSAESGPGTRLRNLPVMGDGLETSQMSTTQAQAQPQPANAASTNPP...,"{'AKGRGR': 175, 'GVKRKA': 286, 'HKRKE': 550, '..."
2,P22223,Cadherin-3 (Placental cadherin) (P-cadherin),CDH3 CDHP,5 out of 5,reviewed,MGLPRGPLASLLLLQVCWLQCAASEPCRAVFREAEVTLEAGGAEQE...,{'KKRKIK': 678}
3,Q01518,Adenylyl cyclase-associated protein 1 (CAP 1),CAP1 CAP,5 out of 5,reviewed,MADMQNLVERLERAVGRLEAVSHTSDMHRGYADSPSKAGAAPYVQA...,{'RATKK': 312}
4,Q53TQ3,INO80 complex subunit D,INO80D,5 out of 5,reviewed,MYEGKHIHFSEVDNKPLCSYSPKLCKQRRLNGYAFCIRHVLEDKTA...,"{'HAKKM': 509, 'RRRGPR': 550}"

In [13]:
df_HPA_ID = df_HPA[['Uniprot_id', 'Gene_name']]
df_HPA_ID.head(n=10)

  Uniprot_id Gene_name
0     P12270       TPR
1     O14980      XPO1
2     Q9UKX7     NUP50
3     P46060   RANGAP1
4     P50402       EMD
5     Q14974     KPNB1
6     P04406     GAPDH
7     O75694    NUP155
8     P49790    NUP153
9     P25686    DNAJB2

In [15]:
df_NLSdb_ID = df_NLSdb[['Entry', 'Gene names']]
df_NLSdb_ID.head(n=10)

    Entry                   Gene names
0  A6H8Y1  BDP1 KIAA1241 KIAA1689 TFNR
1  O60885                   BRD4 HUNK1
2  P22223                    CDH3 CDHP
3  Q01518                     CAP1 CAP
4  Q53TQ3                       INO80D
5  Q9UJU2                         LEF1
6  Q16787                  LAMA3 LAMNA
7  Q96A32                        MYLPF
8  O15534      PER1 KIAA0482 PER RIGUI
9  Q6NSW7                      NANOGP8

In [16]:
df_merge = df_HPA_ID.merge(df_NLSdb_ID, how='inner', left_on = 'Uniprot_id',
                          right_on = 'Entry')

In [17]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1821 entries, 0 to 1820
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Uniprot_id  1821 non-null   object
 1   Gene_name   1821 non-null   object
 2   Entry       1821 non-null   object
 3   Gene names  1820 non-null   object
dtypes: object(4)
memory usage: 71.1+ KB